
<div ng-show="vm.isAppAndroid">
    <!-- unpublished app-->
    <div layout="column">
        <span class="category-title">Chưa phát hành</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.draftAppsAndroid" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!-- testing app -->
    <div layout="column" style="margin-top: 10px">
        <span class="category-title">Đang kiểm thử</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.testingAppsAndroid" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!-- Publish app -->
    <div layout="column" style="margin-top: 10px">
        <span class="category-title">Đã phát hành</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.publishedAppsAndroid" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>

<!--IOS App-->
<div ng-show="vm.isAppIos">
    <!-- unpublished app-->
    <div layout="column">
        <span class="category-title">Chưa phát hành</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.draftAppsIos" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!-- testing app -->
    <div layout="column" style="margin-top: 10px">
        <span class="category-title">Đang kiểm thử</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.testingAppsIos" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!-- Publish app -->
    <div layout="column" style="margin-top: 10px">
        <span class="category-title">Đã phát hành</span>
        <div>
            <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                          md-row-height-gt-md="4:6" md-row-height="4:6"
                          md-gutter="32px" md-gutter-gt-sm="16px">
                <md-grid-tile ng-repeat="app in vm.publishedAppsIos" class="w3-card-2">
                    <div app-view data="app"
                         on-download-click=""
                         on-image-click="vm.initDataViewDetail(app)"
                         on-username-click=""
                         style="height: 100%; width: 100%"></div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>